.App {
  width: 100%;
  min-width: 310px;
  background-color: $lightColor;
  padding: 20px 0px 0px 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tabletSize {
    padding-top: 30px 
  }


  .main-title{
    font-family: 'Antic Didone', serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
    color: $mainColor;
    margin-top: 30px;


    @include tabletSize {
      font-size: 90px;
    }

  }
  
  .filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
    &--container{

      &__item-1{
        width: 300px;
        border: 0.071rem $mainColor solid;
        font-size: 1rem;
        padding: 0.5rem 0.286rem 0.5rem 0.286rem;
        margin: 0px 20px 15px 20px;

        @include tabletSize {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 400px;
          margin-bottom: 10px;
          padding: 0rem 0.286rem 0rem 0.286rem;
        }
        
        .input-1{
          width: 160px;
          height: 30px;
          margin: 0.329rem;
          padding: 0.214rem;
          
          border-style: none;
          font-size: 0.70rem;

          @include tabletSize {
            width: 140px;
            height: 25px;
          }
        }

        .button-1{
          background-color: $mainColor;
          border-style: none;
          color: white;
          padding: 0rem 0.714rem 0rem 0.714rem;
          margin: 0.329rem;
          font-size: 0.80rem;
          height: 30px;
          cursor: pointer;

          @include tabletSize {
            height: auto;
            margin: 0rem;
          }
        }

        .label-2{
          align-self: center;
          margin-left: 0.571rem;
          margin-right: 0.571rem;
          font-size: 0.80rem;
        }

        .input-2{
          align-self: center;
          border-style: none;
        }  
      }
    }

    &--text{
      text-align: center;
      align-self: center;
      margin-left: 1.071rem;
      font-size: 0.75rem;

    }
  }

  .highlight{
    color: $mainColor;
  }

  .content-container{
    padding: 10px 10px;

    .showlist-container{
      margin-top: 60px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      @include tabletSize {
        justify-content: left;
        padding-left: 10%;
      }
     
      :hover{
        .show-item{
          background-color: $mainColor;

          &__subtitle{
            color: $lightColor;
          }

          &__picture{
            width: 91%;
            height: 71%;    
          }
        }
      }


      .show-item{
        list-style-type: none;
        border: $mainColor 0.071rem solid;
        margin: 10px;
        padding: 0.8rem;
        width: 200px;
        height: 340px;
        
        @include desktopSize {
          width: 250px;
          height: 410px;
        }
  
        &__subtitle{
          font-weight: 400;
          color: $mainColor;
          font-size: 0.75rem;
          margin-bottom: 20px;
        }

        &__title{
          margin-bottom: 40px;
          color: black;
        }

        &__picture{
          width: 90%;
          height: 70%;

          &--error{
            width: 85%;
            height: 70%;
            background-color: $mainColor;
            cursor: no-drop;
          }
        }
      }
    }

  }

  .showdetail-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .return:hover{
    background-image: url('../../icons/back-h.png') ;
    }

  .return{
    align-self: center;
    width: 35px;
    height: 35px;
    background-image: url('../../icons/back.png') ;
    background-size: contain;
  }

  .showlist-detail{
    align-self: center;
    border: $mainColor solid 0.071rem;
    padding-top: 0px;

    @include tabletSize {
      border: $mainColor solid 0.071rem;
      width: 600px;
    }

    .head-detail{
      // height: 10px;
      border-bottom: $mainColor solid 0.071rem;
      color: $mainColor ;
      margin-bottom: 20px;
      padding-right: 10px;
      text-align: right;

    }

    .show{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      
      @include tabletSize {
        flex-direction: row;
        padding: 30px;
      }

      &__content{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        @include tabletSize {
          flex-direction: row;
        }

        .show-picture{
          width: 40%; 
          margin-right: 30px;

          @include tabletSize {
            max-width: 150px;
            max-height: 200px;
          }
        }

        &--container{
          font-size: 20px;
          font-weight: 100;
          margin-top: 10px;
          
          max-width: 200px;
          font-size: 18px;

          @include tabletSize {
            margin: 0px 0px 5px 0px;
            max-width: 400px;
            font-size: 18px;
          }

          .show-subtitle{
            font-size: 16px;
            color: $mainColor;
            margin-bottom: 20px;
          }
        }

        &--text{
          line-height: 16px;
          text-align: justify;
          font-size: 12px;
          margin: 0px 0px 20px 0px ;
          font-weight: 400;
        }

        &--list{
          display: flex;
          flex-direction: row;
          font-size: 12px;
          margin: 20px 0px 20px 0px ;
          font-weight: 400;

          .list-item{
            display: inline-block;
            margin: 4px;
            color: $mainColor;
          }
        }
      }

      &__big-picture{
       max-width: 240px;

       @include tabletSize {
        position: relative;
        left: 175px;
        max-width: 360px;
      }

      }
    }
  }

  .footer{
    width: 100%;
    align-self: center;
    padding-top: 5px;
    margin-top: 50px;
    border-top: $mainColor 1px solid;

    .footer-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 5px;

      &__text{
        color:#9e9591;
      }

      .fa-github{
        color: $mainColor;
        margin-left: 8px;
      }
    }
  }
}
